/*
 * Common styles
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: $body-bg-color;
  font-family: 'Open Sans', sans-serif;
  color: $body-text-color;
  min-height: 100%;
  overflow-x: hidden;
}

input {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

ul, ol {
  padding: 0;
}

.container {
  max-width: 71.25em;
  min-height: 100%;
  min-width: 860px;
  padding: 0 0 1em;
  margin: 0 auto;
  position: relative;
}

header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 20px;
  background: #FFF url(/static/img/x.png) 20px 50% no-repeat;
}

header .menu {
  margin-left: 60px;

  ul {
    list-style-type: none;
    margin: 3px 0 0 0;
  }

  li {
    display: inline;
    margin-right: 15px;
  }
}

.user .picture {
  max-width: 30px;
  max-height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.user button[name="logout"] {
  display: inline-block;
  margin-left: 10px;
}

.main .welcome {
  text-align: center;
  margin-top: 30px;
}
