/*
 * Common styles
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: $body-bg-color;
  font-family: 'Open Sans', sans-serif;
  color: $body-text-color;
  min-height: 100%;
  overflow-x: hidden;
}

input {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

ul, ol {
  padding: 0;
}

.content {
  max-width: 71.25em;
  min-height: 100%;
  padding: 0 0 1em $content-left-padding;
  margin: 0 auto;
  position: relative;
}

header {
  $pad: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: $pad;
  padding-left: 65px;
  background: transparent url(/static/img/x.png) 6px 50% no-repeat;
}

header .menu {
  flex-grow: 1;
  align-items: flex-start;

  ul {
    display: flex;
    list-style-type: none;
    margin: 3px 0 0 0;
  }

  li {
    display: inline;
    margin-right: 15px;
  }

  li.search {
    flex-grow: 1;
  }

  li.search input {
    flex-grow: 1;
    width: 90%;
    padding: 0;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #999;
    outline: none;
  }

  li.search input:focus {
    border-bottom: 1px solid #000;
    color: #000;
  }
}

.user .picture {
  max-width: 30px;
  max-height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.user button[name="logout"] {
  display: inline-block;
  margin-left: 10px;
}

.main .welcome {
  text-align: center;
  margin-top: 30px;
}
