.wiki {
  margin-top: 20px;
  padding: 0 10px;
  display: flex;
  flex-flow: wrap;
  align-items: stretch;
  border-left: 0.3em solid $red;

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
}

.wiki h1 {
  margin: 0 0 0.4em 0;
}

button {
  margin-right: 10px;
}

.type {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 1em;
  border-bottom: 1px dashed $red;
  padding-bottom: 1em;
}

.wiki h1,
.type,
.buttons {
  width: 100%;
}

.wiki .edit {
  textarea {
    min-height: 200px;
    min-width: 500px;
    margin-right: 10px;
    background: #FFF;
    border: none;
    border-bottom: 1px solid #CCC;
    padding: 1em;
    font-family: Courier;
    font-size: 13px;
    outline: none;
  }
}

.wiki .preview {
  flex-grow: 1;
  min-width: 400px;

  a.wiki-link {
    color: #3E9D71
  }

  table {
    th {
      font-weight: normal;
      border-bottom: 1px solid #000;
      text-align: left;
    }

    td {
      padding: 5px 2px;
    }
  }
}

.wiki .create {
  min-width: 300px;

  h2 {
    font-size: 16px;
  }

  input {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
  }

  select {
    margin: 2em 0;
  }
}

table tr.inactive {
  color: #999;
  font-style: italic;
}
