/*
 * Variables
 */
$body-text-color:         #000;
$body-text-alt-color:     #c3c6c9;
$body-text-alt-color-2:   #ccc;
$body-text-alt-color-3:   #4a4e58;

$body-bg-color:           #fcfcfc;

$body-link-color:         #436884;
$body-link-bg:            #68a0e6;

$body-border-color:       #f4f4f4;
$body-border-color-light: #e5e5e5;
$body-border-color-dark:  #dfdfdf;

$padding-container:       2em;
$heading-bg-color:        #f2f3f3;

// Project’s color palette
$red:                   #fc6c7f;

/*
 * Normalize and mixins
 */
@import "_mixins";

@import "_common";
@import "_charts";
@import "_wiki";
